/* TODO : create a shared textarea style? */
#game_data {
	width: calc(100% - var(--bitsy-space-m));
	height: var(--bitsy-size-m);
	margin-bottom: var(--bitsy-space-m);
	overflow-y: scroll;
	resize: vertical; /* TODO : turn back on? */
}
