html {
	height: 100%;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 170%;
	font-family: "Nunito", Helvetica, Arial, sans-serif;

	font-size: 16px;

	height: 100%;
}
canvas {
	background: black;
	/*margin-top: 4px;*/
}

input[type=text] {
	font-size: 80%;
}

#appRoot {
	display: flex;
	flex-flow: column;
	height: 100%;

	/*border: solid 2px red;*/
}

#topbar {
	width: 100%;
	background: white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/*padding-bottom: 10px;*/
	box-sizing: border-box;
	flex: 0 1 auto;
	/*border-bottom: solid 2px #6767b2;*/
}

#topbarMain {
	width: 100%;

	/*border: solid 2px red;*/
}

#editorWindow {
	width:100%;
	/*height:750px;*/

	overflow:scroll;
	-webkit-overflow-scrolling: touch;

	box-sizing: border-box;

	flex: 1 1 auto;

	/*border: solid 2px red;*/
}

#editorContent {
	height:100%;
	white-space: nowrap;
	display: inline-block;
	padding-left: 5px;
	padding-right: 20px;
}

.panel {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	margin-right: 0px;
	margin-top: 8px;
	margin-bottom: 0px;
	padding: 10px;
	font-size: 100%;
	border-radius: 4px;
}

.panel .bar {
	display: flex;
	align-items: center;
	padding: 6px;
	margin: -10px;
	margin-bottom: 10px;
	font-size: 115%;
	border-radius: 4px 4px 0px 0px;
}

.panelShadow {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	margin-right: 0px;
	border-radius: 4px;
}

textarea {
	font-family: Menlo, Consolas, monospace;
	font-size: 80%;
}

input {
	font-family: Menlo, Consolas, monospace;
}

.warning {
	padding: 10px;
}

.helpMessage {
	padding: 5px;
	margin: 2px;
	font-size: 80%;
	line-height: 130%;
}
#aboutInner {
	font-size: 80%;
	line-height: 130%;
}
#exitCanvas {
	width:256px;
	height:256px;
}
#editSelectedExit {
	padding: 10px;
	margin: 2px;
	width: 256px;
	height: 350px;
	font-size: 80%;
}
.minimize {
	float:right;
	color:blue;
}
.minimize:hover {
	font-weight: bold;
}
#titleText {
	width: 400px;
}
.titleTextBox {
	font-size: 100%;
}
#bitsyEditorName {
	font-size: 90%;
	float: right;
}
.toggleText {
	color: blue;
	text-decoration: underline;
}
.toggleText:hover {
	font-weight: bold;
}
.options {
	background: #f2f2f2;
	padding: 7px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #333;
	font-size: 80%;
	line-height: 150%;
}
.dialogTextArea {
	resize: vertical;
	font-size: 80%;
	width: 32ch;
	margin-top: 5px;
}

/* new UI groupers */
.buttonGroup {
	padding: 2px;
	margin: 2px;
	margin-left: 0px;
	display: inline-block;
}

.controlBox {
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
}

.controlBox.disabledControls {
	opacity: 0.5;
	pointer-events: none;
}

span.controlBox {
	padding: 3px;
	margin-bottom: 0px;
}

.controlBox .material-icons {
	font-size: 110%;
	vertical-align: middle;
	line-height: 100%;
}

.controlSpan {
	padding: 3px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 0px;
	border-radius: 2px;
}

/* random hacks */
#instructionsOuter {
	padding-top: 10px; /*why*/
	padding-bottom: 12px;
}
#versionNotesOuter {
	padding-top: 10px;
	padding-bottom: 12px;
}

/*toolbar*/
#toolsPanel {
	padding-top: 10px;
	width: 100%;
	overflow:auto;
	display:none;
	flex-flow: row;
	flex-wrap: wrap;
}

#toolsPanel label {
	margin-right: 5px;
	padding: 6px;
}

.panelBarTitle {
	overflow: auto;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.panelBarTitle .bitsy_icon.icon_space_right {
	margin-right: 8px;
}

.panelBarTitle .curVersionLabel {
	margin-left: 5px;
}

.panelBarClose {
	padding: 4px;
	margin: 0px;
	display: flex;
	align-items: center;
}

#gifDownload .material-icons {
	line-height: 100%;
	vertical-align: middle;
	font-size: 110%;
}

#gifRecordingText {
	color:red;
}
#gifRecordingText .material-icons {
	line-height: 100%;
	vertical-align: middle;
	font-size: 110%;
}

#gifEncodingText {
	color: green;
}
#gifEncodingText .material-icons {
	line-height: 100%;
	vertical-align: middle;
	font-size: 110%;
}

#findFilterVisibleCheck + label {
	margin-left: 5px;
	margin-bottom: 0px;
}

#findFilters {
	margin-top: 5px;
	white-space: normal;
}

#findFilters label {
	display: inline-block;
}

.findCategory {
	display: inline;
}

.findToolItem {
	display: inline-block;
	max-width: 72px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.findToolThumbnail {
	border: solid 2px white;
	padding: 2px;
}

.selected .findToolThumbnail {
	border-color: #6767b2;
}

.findToolThumbnail .bitsy_icon {
	width: 64px;
	height: 64px;
	display: block;
}

.findToolThumbnail img {
	width:64px;
	height:64px;
	image-rendering: pixelated;
	display: none;
}

.findToolThumbnail.findToolThumbnailRendered img {
	display: block;
}

.findToolThumbnail.findToolThumbnailRendered .bitsy_icon {
	display: none;
}

.findToolItem figcaption {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.findToolItem figcaption .bitsy_icon {
	min-width: 16px;
	margin-right: 5px;
}

.findToolItem figcaption span {
	white-space: nowrap;
	overflow: hidden;
}

#findResizeRoot {
	resize: both;
	min-width: 280px;
	min-height: 220px;
	width: 375px;
	height: 450px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#findViewport {
	margin-top:5px;
	padding: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow:scroll;
	display:block;
	white-space:normal;
	border: solid 1px #ccccff;
	border-radius: 2px;
	line-height: 100%;
	flex-grow: 1;
}

#animationOuter {
	white-space: normal;
	display: flex;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#animationButtons {
	display: inline-block;
}

.animationThumbnail {
	float: left;
	width: 32px;
	height: 32px;
	margin: 2px;
	padding: 2px;
	border: solid 2px #e8e8ff;
	background: #e8e8ff;
	image-rendering: pixelated;
}

.animationThumbnail.preview {
	background: white;
	border-color: white;
	float: none;
}

.animationThumbnail.selected {
	border-color: #6767b2;
}

#animationRemove {
	margin: 8px;
	margin-right: 0px;
}

#animationAdd {
	margin: 8px;
	margin-left: 2px;
	margin-right: 0px;
}

.left {
	border-radius: 2px 0px 0px 2px;
}

.right {
	border-radius: 0px 2px 2px 0px;
}

#paintEditMain {
	white-space:initial;
	padding:none;
	margin:none;
	/*background: red;*/
}

#paintEditRoot {
	width: 320px;
}

#drawingTypeSelect {
	display: none;
	flex-direction: column;
	min-height: 320px;
}

#paintModeRadio {
	display: flex;
}

#paintModeRadio label {
	flex-grow: 1;
}

#paint {
	width: 320px;

	/* keep this centered in div */
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* kind of hacky way to condense ui in the paint tool */
#paintPanel .buttonGroup {
	padding: 0px;
	margin: 0px;
}

#dialogCodeText {
	width: 340px;
	height: 530px;
	padding: 12px;
	resize: none;
	background: black;
	color: white;
}

.inventoryViewport {
	padding: 6px;
	width:200px;
	height:400px;
	overflow:scroll;
	display:block;
	border: solid 1px #ccccff;
	border-radius: 2px;
	margin-top: 5px;
	/*margin-bottom: 10px;*/
}

.inventoryVariableBox button {
	/*height: 30px;*/
	float: right;
	margin-left: 5px;
	/*background: #e8e8ff;*/
}

.inventoryVariableBox button:hover {
	background: #6767b2;
	color: white;
	opacity: 0.5;
}

.inventoryVariableBox button .material-icons {
	font-size: 80%;
}

.niceHr {
	background:#6767b2;border:0px;height:1px;margin:4px;margin-left:0px;margin-right:0px;
}

/*.downArrowDialog .material-icons {
	font-size: 16px;
	line-height: 100%;
}*/

#dialogEditorNoContent {
	width: 355px;
	height: 580px;
}

/* NEW FLEX STUFF */
#topbarFlexContainer {
	width:100%;
	display:flex;
	flex-flow: row;
	overflow: hidden;
}

#logoFlexItem {
	flex: 1 0 auto;
	white-space: nowrap;
	overflow: hidden;
}

#titleFlexItem {
	flex: 100 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#toolsCheckFlexItem {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
}

#toolsCheckFlexItem label {
	display: flex;
	align-items: center;
	padding: 6px;
	margin: 0px;
	border: solid 1px #e8e8ff; /* so it lines up right */
}

#toolsCheckFlexItem input[type="checkbox"]:checked + label {
	border-color: #6767b2;
}

#toolsCheckFlexItem .icon_space_right {
	margin-right: 5px;
}

#topbarSpaceFlexItem {
	flex: 1 1 400px;
}

#bylineFlexItem {
	flex: 1 0 auto;
	font-size: 80%;
}

#bitsyLogo {
	margin-right: 5px;
}

#bitsyLogoTitle {
	display: flex;
	align-items: baseline;
	font-size: 150%;
}

#findFilter {
	margin-top: 5px;
	padding: 5px;
}

#findSearchBox {
	display: flex;
	margin-bottom: 5px;
}

#findSelect {
	display: flex;
}

#findSelectMessage {
	flex-grow: 1;
}

.thumbnailDefaultName {
	color : #ccccff;
}

#aboutPanel {
	width:350px;white-space:normal;
}

#game_data {
	min-width: 400px;
	min-height: 400px;
	width: 350px;
	height: 400px;
	background: black;
	border-radius: 2px;
	color: white;
	border: none;
	padding: 5px;
	margin-bottom: 5px;
}

#gifPreview {
	width: 300px;
}

#gifPlaceholder {
	display:block;background:#eee;width:300px;height:300px;
}

#settingsInner {
	max-width:300px; white-space: normal;
}

#dialogTop {
	height: 30px; margin-bottom: 5px;
}

.textInputField {
	flex-grow: 1;
	border-radius: 5px;
	padding: 5px;
	line-height: 100%;
	color: #6767b2;
	background: #e8e8ff;
	border: solid 1px #e8e8ff;
}

.textInputField:not([readonly]) {
	color: black;
	background: #eee;
	border: solid 1px #eee;
}

.textInputField:hover:not([readonly]) {
	text-decoration: underline;
	border: solid 1px #ccc;
}

.textInputField:focus:not([readonly]) {
	background: white;
	border: solid 1px #ccc;
	text-decoration: none;
}

.textInputField.withIcon {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.textInputFieldIcon {
	background: #d9d9d9;
	border-radius: 5px 0px 0px 5px;
	line-height: 100%;
	display: flex;
	align-items: center;
}

.textInputFieldIcon .bitsy_icon {
	fill: #6f6f6f;
	margin: 4px;
	margin-right: 6px;
}

.selectControl {
	display: inline-flex;
}

.selectControl img {
	width: 27px;
	height: 27px;
}

.selectControl select {
	margin-left: 5px;
	margin-right: 5px;
}

.selectControl button {
	margin-bottom: 0px;
}

.paintSetting {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	line-height: 100%;
	margin-bottom: 5px;
	padding-left: 21px;
}

.paintSetting span {
	margin-top: 5px;
	margin-right: 5px;
}

.paintSetting input[type=number] {
	width: 6ch;
}

.paintSetting input[type=checkbox] + label {
	padding: 2px;
}

.paintSetting input[type=checkbox] + label span {
	margin: 0px;
}

.paintSetting .bitsy_icon {
	margin: 0px;
}

.paintSettingLabelContainer {
}

.paintSettingLabel {
	display: flex;
	align-items: center;
	margin-left: -21px;
}

.paintSettingLabel span {
	margin-right: 0px;
	margin-top: 0px;
}

.paintSettingLabel .bitsy_icon.icon_space_right {
	margin-right: 5px;
}

.paintSettingControlGroup {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

.paintSettingControlGroup span {
	margin-top: 0px;
}

#roomLocationSelectMessage {
	flex-grow: 1;
}

.inventoryHeader {
	display: flex;
	line-height: 100%;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

.inventoryHeader .icon_space_right {
	margin-right: 5px;
}

#dialog .controlBox {
	margin-bottom: 0px;
}